.dashboardContainer {
    display: flex;
    /* Define layout flexível */
    flex-direction: column;
    /* Organiza os itens em coluna */
    gap: 1rem;
    /* Borda vermelha */
    background-color: #000000;
    /* Fundo preto */

    .cardGrid {
        background-color: #000000;
        /* Fundo preto */
        display: flex;
        /* Layout flexível */
        flex-wrap: wrap;
        /* Permite quebra de linha */
        justify-content: space-around;
        /* Espaçamento uniforme entre os itens */
        align-items: center;
        /* Alinha itens ao centro */
        width: 100%;
        /* Largura total */
        height: 203px;
        /* Borda vermelha */
        max-width: 1200px;
        /* Largura máxima */
        margin: 0 auto;
        /* Centraliza horizontalmente */

        .card {
            display: flex;
            /* Layout flexível */
            flex-direction: column;
            /* Organiza itens em coluna */
            align-items: center;
            /* Alinha itens ao centro */

            .cardContent {
                width: 230px;
                /* Largura fixa */
                height: 140px;
                /* Altura fixa */
                display: flex;
                /* Layout flexível */
                flex-direction: row;
                /* Organiza itens em linha */
                justify-content: space-between;
                /* Espaçamento entre os itens */
                align-items: center;
                /* Alinha itens ao centro */
                background-color: #18181b;
                /* Fundo cinza escuro */
                border-radius: 20px;
                /* Bordas arredondadas */
                padding: 10px;
                /* Espaçamento interno */

                .icon {
                    font-size: 20px;
                    /* Tamanho da fonte */
                    color: seashell;
                    /* Cor do ícone */
                    height: 100%;
                    /* Altura total do container */
                    display: flex;
                    /* Layout flexível */
                    justify-content: center;
                    /* Centraliza horizontalmente */
                    align-items: center;
                    /* Centraliza verticalmente */
                }

                .textContent {
                    display: flex;
                    /* Layout flexível */
                    flex-direction: column;
                    /* Organiza itens em coluna */
                    justify-content: center;
                    /* Centraliza verticalmente */
                    align-items: flex-start;
                    /* Alinha itens à esquerda */
                    gap: 5px;
                    /* Espaçamento entre os itens */
                    width: calc(100% - 50px);
                    /* Ajusta largura para acomodar o ícone */
                    height: 100%;
                    /* Altura total do container */

                    .title,
                    .value,
                    .description {
                        font-size: 20px;
                        /* Tamanho da fonte */
                        color: seashell;
                        /* Cor do texto */
                        text-align: left;
                        /* Alinhar texto à esquerda */
                    }

                    .description {
                        font-size: 15px;
                        /* Tamanho menor para descrição */
                    }
                }

                .icon {
                    font-size: 30px;
                    /* Tamanho maior do ícone */
                    color: seashell;
                    /* Cor do ícone */
                }
            }
        }
    }
}